@model GearShopV2.Models.Helmet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Helmet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HSalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HSalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HQtyOnHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HQtyOnHand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
