@model GearShopV2.Models.GearSizeViewModel
@{
    ViewData["Title"] = "Helmets";
}

<h1 class="myHeaders">Closeout Helmets</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
    -->

<div class="container">
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>BE ADVISED!!</strong> These items are not for sale nor are the prices real by any means. They are used simply as examples for the web application!!
    </div>
</div>


<div>
    <a asp-controller="Home" asp-action="Index"><i class="fas fa-backward"></i></a>
</div>







<form asp-controller="Helmets" asp-action="Index" method="get">
    <p>
        <select asp-for="SizeCategory" asp-items="Model.SizeCats">
            <option value="">All</option>
        </select>

        Brand: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="card-deck">


    @foreach (var item in Model.Helmets)
    {
        <div class="card-deck container col-3 ">

            <div class="card-body cardMerch">

                <p><a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.HImageUrl)" class="img-thumbnail" alt="ERROR"></a></p>



                <b><em>@Html.DisplayFor(modelItem => item.HBrand)</em></b> <em>@Html.DisplayFor(modelItem => item.HModel)</em> <br>
                <b>Color:</b> @Html.DisplayFor(modelItem => item.HColor) <br>
                <b>Size:</b> @Html.DisplayFor(modelItem => item.SizeCat) -  @Html.DisplayFor(modelItem => item.HSize) <br>
                @if (item.HSalePrice < item.HPrice)
                {
                    <b>Price:</b> @Html.DisplayFor(modelItem => item.HSalePrice)
                    <div class="spinner-grow text-success"></div>
                    <span class="badge badge-pill badge-success">SALE PRICE</span>
                }
                else
                {
                    <b>Price:</b>
                    @Html.DisplayFor(modelItem => item.HPrice) <br />
                }


                <button class="btn btn-success small"><i class="fas fa-cart-plus container-fluid" style="color:green"></i></button>
            </div>
        </div>

    }

</div>

<div>
    <a asp-controller="Home" asp-action="Index"><i class="fas fa-backward"></i></a>
</div>