@model GearShopV2.Models.GearSizeViewModel
@{
    ViewData["Title"] = "Helmets";
}

<h1 class="myHeaders">Closeout Helmets</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
    -->

<div class="container">
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>BE ADVISED!!</strong> These items are not for sale nor are the prices real by any means. They are used simply as examples for the web application!!
    </div>
</div>


<div>
    <a asp-controller="Home" asp-action="Index"><i class="fas fa-backward"></i></a>
</div>







<form asp-controller="Helmets" asp-action="Index" method="get">
    <p>
        <select asp-for="SizeCategory" asp-items="Model.SizeCats">
            <option value="">All</option>
        </select>

        Brand: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>

<div class="card-deck">


    @foreach (var item in Model.Helmets)
    {
        <div class="card-deck container col-3 ">

            <div class="card-body cardMerch">

                <p><a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.HImageUrl)" class="img-thumbnail" alt="ERROR"></a></p>



                <b><em>@Html.DisplayFor(modelItem => item.HBrand)</em></b> <em>@Html.DisplayFor(modelItem => item.HModel)</em> <br>
                <b>Color:</b> @Html.DisplayFor(modelItem => item.HColor) <br>
                <b>Size:</b> @Html.DisplayFor(modelItem => item.SizeCat) -  @Html.DisplayFor(modelItem => item.HSize) <br>
                @if (item.HSalePrice < item.HPrice)
                {
                    <b>Price:</b> @Html.DisplayFor(modelItem => item.HSalePrice)
                   <div class="container mt-1">

                            <span class="d-inline-block badge badge-pill badge-success">SALE PRICE</span>
                            <div class="d-inline-block spinner-grow text-success"></div>

                        </div>





                }
                else
                {
                    <b>Price:</b>
                    @Html.DisplayFor(modelItem => item.HPrice) <br />
                }

                <div class="d-inline-flex">
                    <div class="">
                        <button class=" btn btn-success" style="height:100%"><i class="fas fa-cart-plus justify-content-center" style="color:green"></i></button>
                    </div>
                    <div class="">
                        <button class=" btn btn-info" style="height:100%"><i class="fa fa-heart justify-content-center" style="color:red"></i></button>
                    </div>
                    <div class="">
                        <button class="btn btn-secondary" style="height:100%"><i class="fa fa-share justify-content-center"  style="color:black"></i></button>

                    </div>
                </div>



                @*<div class="">
                        <button class="d-inline-block btn btn-success justify-content-center" style="width:50px; height:40px"><i class="fas fa-cart-plus justify-content-center" style="color:green"></i></button>
                    </div>*@
            </div>
        </div>

    }

</div>

<div>
    <a asp-controller="Home" asp-action="Index"><i class="fas fa-backward"></i></a>
</div>