@model GearShopV2.Models.GearSizeViewModel
@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Closeout Helmets</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
    -->

<div class="container">
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>BE ADVISED!!</strong> These items are not for sale nor are the prices real by any means. They are used simply as examples for the web application!!
    </div>
</div>



<form asp-controller="Helmets" asp-action="Index" method="get">
    <p>
        <select asp-for="SizeCategory" asp-items="Model.SizeCats">
            <option value="">All</option>
        </select>

        Brand: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>

    <div class="card-deck">


        @foreach (var item in Model.Helmets)
        {
            <div class="card-deck container col-3 ">

                <div class="card-body cardMerch">

                    <p><a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.HImageUrl)" class="img-thumbnail" alt="ERROR"></a></p>



                    <b>Model:</b> @Html.DisplayFor(modelItem => item.HBrand) - @Html.DisplayFor(modelItem => item.HModel) <br>
                    <b>Color:</b> @Html.DisplayFor(modelItem => item.HColor) <br>
                    <b>Size:</b> @Html.DisplayFor(modelItem => item.SizeCat) -  @Html.DisplayFor(modelItem => item.HSize) <br>
                    @if (item.HSalePrice < item.HPrice)
                    {
                        <b>Price:</b> @Html.DisplayFor(modelItem => item.HSalePrice)
                        <span class="badge badge-success">ON SALE</span>
                    }
                    else
                    {
                        <b>Price:</b>
                        @Html.DisplayFor(modelItem => item.HPrice) <br />
                    }
              
                    
                    <i class="fas fa-cart-plus " style="color:green"></i>
                 </div>
            </div>

}



