@model IEnumerable<GearShopV2.Models.Helmet>

@{
    ViewData["Title"] = "Index";
}

<h1>Closeout Pants</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Helmets" asp-action="Index" method="get">
    <p>
        Brand: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HBrand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HSalePrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HQtyOnHand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HSalePrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HQtyOnHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
