@model GearShopV2.Models.ContactUs
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



@*@{
    ViewData["Title"] = "ContactUs";
}*@

<h1 class="myHeaders">Rate Us!</h1>


@*<fieldset>
        @using (Html.BeginForm())
        {
            <p>
                @Html.LabelFor(x => x.contactName)
                @Html.EditorFor(x => x.contactName)
            </p>

            <p>
                @Html.LabelFor(x => x.contactEmail)
                @Html.EditorFor(x => x.contactEmail)
            </p>

            <p>
                @Html.LabelFor(x => x.contactMessage)
                @Html.TextAreaFor(x => x.contactMessage)
            </p>

            <p>
                <button type="submit">POST</button>
            </p>
        }
    </fieldset>*@


<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="contactName" class="control-label"></label>
                <input asp-for="contactName" class="form-control" />
                <span asp-validation-for="contactName" class="text-danger" style="font-weight:bold;"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactEmail" class="control-label"></label>
                <input asp-for="contactEmail" class="form-control" />
                <span asp-validation-for="contactEmail" class="text-danger" style="font-weight:bold;"></span>
            </div>
            <div class="form-group">
                <label asp-for="contactMessage" class="control-label"></label>
                <textarea asp-for="contactMessage" class="form-control" rows="10"></textarea>
                <span asp-validation-for="contactMessage" class="text-danger" style="font-weight:bold;"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


