@model GearShopV2.Models.Jersey

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jersey</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JBrand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JBrand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JModel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JSize)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JSalePrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JSalePrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JQtyOnHand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JQtyOnHand)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
