@model GearShopV2.Models.Pant

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pant</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PBrand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PBrand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PModel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PColor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PColor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PSize)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PSize)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PPrice)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.PPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PSalePrice)
        </dt>
        <dd class="col-sm-10">
            $@Html.DisplayFor(model => model.PSalePrice)
        </dd>
        <!--
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PQtyOnHand)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PQtyOnHand)
    </dd>
    -->

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SizeCat)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SizeCat)
        </dd>


        <!--
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PImageUrl)
        </dt>
            -->

        <dd class="col-sm-10">
            <img src="@Html.DisplayFor(model => model.PImageUrl)" />
        </dd>

    </dl>
</div>

<div>
    <a asp-action="Index"><i class="fas fa-arrow-alt-circle-left"></i></a>

<!--
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |

    -->

    <a asp-action="Index">Back to List</a>
</div>
