@model GearShopV2.Models.GearSizeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Closeout Pants</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->

<div class="container">
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>BE ADVISED!!</strong> These items are not for sale nor are the prices real by any means. They are used simply as examples for the web application!!
    </div>
</div>


<form asp-controller="Pants" asp-action="Index" method="get">
    <p>
        <select asp-for="SizeCategory" asp-items="Model.SizeCats">
            <option value="">All</option>
        </select>


        Brand: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pants[0].PBrand)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Pants[0].PModel)
            </th>
            -->
            <th>
                @Html.DisplayNameFor(model => model.Pants[0].PColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pants[0].PSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pants[0].PPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pants[0].PSalePrice)
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Pants[0].PQtyOnHand)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Pants[0].PImageUrl)
            </th>
                -->
            <th>
                @Html.DisplayNameFor(model => model.Pants[0].SizeCat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        @foreach (var item in Model.Pants)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PBrand) -
                    @Html.DisplayFor(modelItem => item.PModel)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PColor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PSize)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.PPrice)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.PSalePrice)
                    @if (item.PSalePrice < item.PPrice)
                    {
                        <span class="badge badge-success">ON SALE</span>
                    }

                </td>

                <!--
                <td>
                    @Html.DisplayFor(modelItem => item.PQtyOnHand)
                </td>

                -->

                <td>
                    @Html.DisplayFor(modelItem => item.SizeCat)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.PImageUrl)" class="img-thumbnail" alt="ERROR"></a>
                </td>

                <td>
                    <i class="fas fa-cart-plus" style="color:green"></i>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <!--
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                    -->
            </tr>
        }
    </tbody>
</table>
