@model GearShopV2.Models.GearSizeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Closeout Pants</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->

<div class="container">
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>BE ADVISED!!</strong> These items are not for sale nor are the prices real by any means. They are used simply as examples for the web application!!
    </div>
</div>


<form asp-controller="Pants" asp-action="Index" method="get">
    <p>
        <select asp-for="SizeCategory" asp-items="Model.SizeCats">
            <option value="">All</option>
        </select>


        Brand: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>



<div class="card-deck">


    @foreach (var item in Model.Pants)
    {
        <div class="card-deck container col-3 ">

            <div class="card-body cardMerch">

                <p><a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.PImageUrl)" class="img-thumbnail" alt="ERROR"></a></p>

                <b>Model:</b> @Html.DisplayFor(modelItem => item.PBrand) - @Html.DisplayFor(modelItem => item.PModel) <br>
                <b>Color:</b> @Html.DisplayFor(modelItem => item.PColor) <br>
                <b>Size:</b> @Html.DisplayFor(modelItem => item.SizeCat) -  @Html.DisplayFor(modelItem => item.PSize) <br>
                @if (item.PSalePrice < item.PPrice)
                {
                    <b>Price:</b> @Html.DisplayFor(modelItem => item.PSalePrice)
                    <span class="badge badge-success">ON SALE</span>
                }
                else
                {
                    <b>Price:</b>
                    @Html.DisplayFor(modelItem => item.PPrice) <br />
                }


                <i class="fas fa-cart-plus container-fluid" style="color:green"></i>
            </div>
        </div>
                     
    }













