@model GearShopV2.Models.GearSizeViewModel

@{
    ViewData["Title"] = "Pants";
}

<h1 class="myHeaders">Closeout Pants</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p>
-->

<div class="container">
    <div class="alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>BE ADVISED!!</strong> These items are not for sale nor are the prices real by any means. They are used simply as examples for the web application!!
    </div>
</div>


<form asp-controller="Pants" asp-action="Index" method="get">
    <p>
        <select asp-for="SizeCategory" asp-items="Model.SizeCats">
            <option value="">All</option>
        </select>


        Brand: <input type="text" name="searchString">
        <input type="submit" value="Filter" />
    </p>
</form>



<div class="card-group">
    @foreach (var item in Model.Pants)
    {
        <div class="card-group container col-3 ">
            <div class="card-body cardMerch">
                <p><a asp-action="Details" asp-route-id="@item.Id"><img src="@Html.DisplayFor(modelItem => item.PImageUrl)" class="img-thumbnail" alt="ERROR"></a></p>
                <b><em>@Html.DisplayFor(modelItem => item.PBrand)</em></b> <em>@Html.DisplayFor(modelItem => item.PModel)</em> <br>
                <b>Color:</b> @Html.DisplayFor(modelItem => item.PColor) <br>
                <b>Size:</b> @Html.DisplayFor(modelItem => item.SizeCat) -  @Html.DisplayFor(modelItem => item.PSize) <br>
                @if (item.PSalePrice < item.PPrice)
                {
                    <b>Price:</b> @Html.DisplayFor(modelItem => item.PSalePrice)

                }
                else
                {
                    <b>Price:</b>
                    @Html.DisplayFor(modelItem => item.PPrice) <br />
                }
                <div class="align-items-end position-static">
                    <div class="d-flex justify-content-center align-items-end">
                        <div class="flex-fill align-content-end">
                            <button class=" btn btn-success" style="height:100%"><i class="fas fa-cart-plus justify-content-center" style="color:green"></i></button>
                        </div>
                        <div class="flex-fill">
                            <button class=" btn btn-info" style="height:100%"><i class="fa fa-heart justify-content-center" style="color:red"></i></button>
                        </div>
                        <div class="flex-fill">
                            <button class="btn btn-secondary" style="height:100%"><i class="fa fa-share justify-content-center" style="color:blue"></i></button>
                        </div>
                    </div>
                    <br />
                </div>
                @if (item.PSalePrice < item.PPrice)
                {<div class="">
                        <span class="d-flex justify-content-center badge badge-pill badge-success">SALE PRICE</span>
                        @*<div class="d-inline-block spinner-grow text-success"></div>*@
                    </div>
                }
            </div>
        </div>
    }
</div>
@*<div>
           <a asp-controller="Home" asp-action="Index"><i class="fas fa-backward"></i></a>
    </div>*@
    }












